[submodule "accumulators"]
	path = accumulators
	url = https://github.com/bincrafters/conan-boost_accumulators.git
	branch = testing/1.66.0
[submodule "context"]
	path = context
	url = https://github.com/bincrafters/conan-boost_context.git
	branch = testing/1.66.0
[submodule "coroutine"]
	path = coroutine
	url = https://github.com/bincrafters/conan-boost_coroutine.git
	branch = testing/1.66.0
[submodule "graph_parallel"]
	path = graph_parallel
	url = https://github.com/bincrafters/conan-boost_graph_parallel.git
	branch = testing/1.66.0
[submodule "type_erasure"]
	path = type_erasure
	url = https://github.com/bincrafters/conan-boost_type_erasure.git
	branch = testing/1.66.0
